@model IEnumerable<ShoppingCart.Models.Cart>

@{
    ViewData["Title"] = "Your Cart";

    var sum = 0M;
}

<h1 class="text-info">@ViewData["Title"]</h1>

@*<p><a asp-action="Create">Create New</a></p>*@
<table class="table text-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th class="col-sm-2 text-info">
                @Html.DisplayNameFor(model => model.Product.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sum += item.Product.Price * item.Quantity;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    <img src="~/@item.Product.ImgUrl" height="100" />
                </td>
                <td>
                    @using (Html.BeginForm("Update", "Cart", FormMethod.Post))
                    {
                        <input type="hidden" name="id" id="id" value="@item.CartID" />
                        <input type="number" name="quantity" id="quantity" value="@item.Quantity" />
                        <input type="submit" value="Update" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.CartID">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.CartID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <br />
    <h3 class ="text-info">Total: $ @sum</h3>
</table>
